.active-type-card {
    #Path_3670, 
    #Path_3671, 
    #Path_3672, 
    #Path_3673, 
    #Path_3674, 
    #Path_3675, 
    #Path_3676, 
    #Line_384, 
    #Ellipse_229, 
    #Path_3677 {
        stroke: #3d8bf2;
    }
    #Path_3671, 
    #Path_3672, 
    #Path_3673, 
    #Path_3674 {
        fill: #3d8bf2;
    }

    #Path_3654, 
    #Path_3655,
    #Path_3656,
    #Path_3657,
    #Path_3658,
    #Path_3659,
    #Path_3660,
    #Path_3661,
    #Path_3662,
    #Path_3663,
    #Path_3664,
    #Line_383,
    #Path_3665,
    #Path_3666,
    #Path_3667,
    #Path_3668,
    #Path_3669 {
        stroke: #3d8bf2;
    }
    #Path_3656 {
        fill: #3d8bf2;
    }
}

.inactive-type-card {
    #Path_3670, 
    #Path_3671, 
    #Path_3672, 
    #Path_3673, 
    #Path_3674, 
    #Path_3675, 
    #Path_3676, 
    #Line_384, 
    #Ellipse_229, 
    #Path_3677 {
        stroke:#99a2ad;
    }
    #Path_3671, 
    #Path_3672, 
    #Path_3673, 
    #Path_3674 {
        fill:#99a2ad;
    }

    #Path_3654, 
    #Path_3655,
    #Path_3656,
    #Path_3657,
    #Path_3658,
    #Path_3659,
    #Path_3660,
    #Path_3661,
    #Path_3662,
    #Path_3663,
    #Path_3664,
    #Line_383,
    #Path_3665,
    #Path_3666,
    #Path_3667,
    #Path_3668,
    #Path_3669 {
        stroke:#99a2ad;
    }
    #Path_3656 {
        fill:#99a2ad;
    }
}